.btn-wignup{    
    margin-left: 10%;
}

.formLogin{
    width: 80%;
    margin: auto;
    padding-top: 10%;
}

.tltle-form{
    text-align: center;
}

.containerForm{
    width: 100%;
    padding-top: 10%;    
}